

/* Common  */



/* Header */





.nav-list {
  display: flex;
  align-items: center;
}

.nav-list,
.contacts-list {
  gap: 40px;
}





.contacts-list {
  display: flex;
  align-items: center;
}


/* Solutions */
.main-solutions {
  display: flex;
  align-items: center;
  background-color: var(--navy-blue);
  padding: 188px 0;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 600px;
  background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
    url(../images/office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-solutions-item {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  margin: 0 auto 48px;
  max-width: 496px;
}

.main-solutions-button {
  display: block;
  margin: 0 auto;
  background-color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-solutions-button:hover,
.main-solutions-button:focus {
  background-color: var(--ocean);
}



/* Features */

.features-section {
  padding: 120px 0;
}

.features-container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.features-list {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.features-list-item {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 72px) / 4);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.features-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);  
}

.features-icons-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  max-width: 264px;
  height: 112px;
  background-color: var(--cloud);
  margin-bottom: 8px;
}

.features-list-item:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.features-list-text,
.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Team section */
.team-section {
  background-color: var(--cloud);
  padding: 120px 0;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-title,
.portfolio-title {
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.team-list-card {
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.team-card-names {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px 0;
}

.team-list-names {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.team-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
}

.social-item-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.social-item-link {
  width: 40px;
  height: 40px;
}

.social-link-list {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-list:hover,
.social-link-list:focus {
  background-color: var(--ocean);
}

.icons-list-item {
  fill: var(--cloud);
}

/* Portfolio section */

.portfolio-section {
  padding: 120px 0;
}

.portfolio-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.portfolio-card {
  flex-basis: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .portfolio-cover-text {
  transform: translateY(0);
}

.portfolio-cover {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  top: 0;
  left: 0;
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  background-color: var(--iris);
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue); 
  margin-bottom: 8px; 
}

.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.portfolio-card-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-top: none;
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  padding: 32px 16px;
}

.portfolio-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
}

.portfolio-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card:hover .portfolio-cover {
  transform: translateY(0);
}

/* Footer */

.page-footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  max-width: 1158px;
  padding: 0 15px;
}

.footer-logo-box {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-bottom: 16px;
  gap: 0;
}

.footer-logo .logo-part {
  color: var(--cloud);
}

.footer-text {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
  }

  .footer-social {
  display: flex;
  flex-direction: column;
  max-width: 208px;
  align-items: flex-start;
  margin-right: 80px;
}

  .footer-social-text {
  display: block;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 16px;
  transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list .social-item-link .social-link-list:hover,
.footer-social-list .social-item-link .social-link-list:focus {
  background-color: var(--green);
}

.subscribe-title{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.subscribe-form{
  display: flex;
  gap: 24px;
}

.subscribe-input{
  padding: 8px 16px;
  background-color: var(--navy-blue);
  border: 1px solid var(--white);
  border-radius: 4px;
  width: 264px;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
}
  
.subscribe-button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  background-color: var(--iris);
  border: 1px solid var(--iris);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--ocean);
}

.icons-subscribe{
    fill: var(--white);
    margin-left: 16px;
  }
/* Modal section */

.backdrop{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  justify-content: center;
  align-items: center;
  background-color: var(--navy-blue-modal);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  transform: translate(-50%, -50%);
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--dairy);
  border-radius: 4px;
  padding: 72px 24px 24px;
  overflow-y: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal{
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-button-close{
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 0;
  stroke-width: 1px;
  background-color:var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1); 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.icons-close{
  fill:var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,.modal-button-close:focus{
  background-color: var(--ocean);
  border-radius: 100%;
  border: none;
}

.modal-button-close:hover > .icons-close,
.modal-button-close:focus > .icons-close {
  fill: var(--white);
}

.modal-paragraph{
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;
  
  }

  .modal-forms{
    display: flex;
    flex-direction: column;
  }

  .modal-input-container{
    margin-bottom: 8px;
  }

  .modal-input-label{
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  }

  .modal-input-box{
    display: flex;
    position: relative;
  }

  .comment-box {
    margin-bottom: 16px;
  }


  .modal-input{
    display: block;
    width: 100%;
    height: 40px;
    outline: transparent;
    background-color: transparent;
    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;
    padding-left: 38px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--navy-blue);
  }

 .modal-input:hover,
 .modal-input:focus{
  border: 1px solid var(--iris);
  }

.modal-input:hover + .modal-icon, 
.modal-input:focus + .modal-icon{
  fill: var(--iris);
  }

.modal-comment-container{
  margin-bottom: 16px;
  }

.modal-label{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  }

.comment-text{
  padding: 8px 16px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
  width: 100%;
  height: 120px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }  
  
.subscribe-input::placeholder{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
}

.comment-text:hover,
.comment-text:focus{
  border-color: var(--iris);
}

.check-box{
  margin-bottom: 24px;
}

.checkbox-span{
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 2px;
  background-color: transparent;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-checkbox-input:checked + .modal-checkbox-label > .checkbox-span{
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.modal-checkbox-label{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  line-height: 1.17;
}

.privacy-text{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.48px;
    text-decoration-line: underline;
    color: var(--iris);
}

.modal-button{
    display: block;
    background-color: var(--iris);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    min-width: 169px;
    height: 56px;
    padding-top: 16px 32px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-button:hover,
  .modal-button:focus {    
    background-color: var(--ocean);
  }